@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
.contenedor{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #D6FFDE;
}
.icono{
  width:  70px;
}
.logo-titulo{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.logo-titulo h2{
  padding-top: 15px;
  font-size: 3.1rem;
  font-family: 'Macondo', cursive;
  text-shadow: 1px 1px 1px rgb(14, 14, 14);
}
